.nyt-bestseller {
  margin: 400px 50px 50px 50px;
  text-align: left;
}

.carousel-container {
  margin: auto;
  overflow: scroll;
  border: 3px solid #c1ac95;
  margin-bottom: 500px;
}

.carousel-slide {
  display: flex;
  width: 100%;
}
