.title {
  background-color: blue;
  height: 300px;
  background-image: url("https://i.pinimg.com/originals/27/f9/5d/27f95d0c235dbdd60ac5012a05facfd0.jpg");
  position: absolute;
  z-index: 0;
  width: 100%;
}

.title-form {
  margin-top: 200px;
  z-index: 1;
}
