.book-card {
  width: 500px;
  height: 500px;
  margin: 1px;
  background-color: #faebe0;
  position: relative;
}

.book-card h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  overflow: hidden;
}

.book-card img {
  height: 300px;
  width: 225px;
}

.book-card-content {
  padding: 10px 10px 0px 10px;
}
