.navbar {
  width: 100vw;
  color: black;
  padding: 0, 30px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.links {
  text-align: left;
}

.nav-links-bestseller {
  padding: 24px;
  width: 200px;
}

.header-title {
  padding: 10px;
  position: relative;
  font-weight: 1000;
}

.book {
  text-align: right;
}

.nav-links-my-page,
.nav-links-bestseller {
  text-decoration: none;
  color: grey;
}

.nav-links-my-page:hover {
  color: #686565;
  font-weight: 500;
}
.nav-links-bestseller:hover {
  font-weight: 500;
  color: #686565;
}

.login button {
  background-color: #c7c1c1;
  height: 35px;
  width: 100px;
  margin: 3px;
}

button:hover {
  background-color: #a19e9e;
}
